.contact-info {

    max-width: 1400px;

    margin: 100px auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

.info-card {

    background: #f7f7f7;

    padding: 50px;
}

.info-card h3 {

    margin-bottom: 20px;

    font-size: 1.5rem;
}

.info-card p {

    color: #666;

    line-height: 1.8;
}